<main>
    <div class="CurrencyContainer">
        <div class="InsideCurrencyContainer">
            <div class="CurrencyInfoContainer">
                <app-custom-select-currency
                    [(selectedCurrency)]="upperCurrency.selectedCurrency"
                    [currencies]="currencies"
                    (selectedCurrencyChange)="syncUpperSelectorCurrency($event)"
                >
                </app-custom-select-currency>
                <app-custom-input-currency
                    [(amount)]="upperCurrency.amount"
                    (amountChange)="syncUpperCurrency($event)"
                >
                </app-custom-input-currency>
                <app-custom-info-currency
                    [currencyName]="upperCurrency.selectedCurrency"
                    [targetCurrencyName]="lowerCurrency.selectedCurrency"
                    [exchangeRate]="upperExchange"
                ></app-custom-info-currency>
            </div>
            <div class="ButtonContainer">
                <button (click)="swapCurrencies()"></button>
            </div>
            <div class="CurrencyInfoContainer">
                <app-custom-select-currency
                    [(selectedCurrency)]="lowerCurrency.selectedCurrency"
                    [currencies]="currencies"
                    (selectedCurrencyChange)="syncLowerSelectorCurrency($event)"
                >
                </app-custom-select-currency>
                <app-custom-input-currency
                    [(amount)]="lowerCurrency.amount"
                    (amountChange)="syncLowerCurrency($event)"
                >
                </app-custom-input-currency>
                <app-custom-info-currency
                    [currencyName]="lowerCurrency.selectedCurrency"
                    [targetCurrencyName]="upperCurrency.selectedCurrency"
                    [exchangeRate]="lowerExchange"
                ></app-custom-info-currency>
            </div>
        </div>
    </div>
</main>
