<div class="UpperContainer">
    <div class="ContainerElement">
        <h1>CurrencyConverter</h1>
    </div>
    <div class="ContainerElement" *ngIf="currencies">
        <div class="ContainerElement">
            <h1>EUR: {{ eurValues['uah'] }}</h1>
        </div>
        <div class="ContainerElement">
            <h1>USD: {{ usdValues['uah'] }}</h1>
        </div>
        <div class="FlagContainer">
            <div class="BlueContainer"></div>
            <div class="YellowContainer"></div>
        </div>
    </div>
</div>

<app-converter></app-converter>
